.row
  .span12
    %table#datatables-eventoes.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th  
          %th Nombre
          %th Fecha y hora  
          %th Resumen
      %tbody
        - @eventos.each do |evento|
          %tr
            %td
              .foto= link_to image_tag(evento.fotografias[0].imagen_url(:medium).to_s, width: 80), evento_path(evento)
            %td= link_to evento.nombre, evento_path(evento)
            %td= l evento.fecha_y_hora, format: :short
            %td
              = evento.resumen
