.row
  .span12.lugares_thumbnail
    %ul.thumbnails

      - @lugares.each do |lugar|
        %li.span3
          .thumbnail
            .nombre= link_to lugar.nombre, lugar_path(lugar)
            .foto= link_to image_tag(lugar.fotografias[0].imagen_url(:medium).to_s, width: 90), lugar_path(lugar)
            .resumen= truncate lugar.resumen, length: 210
            .ver_mas= link_to 'Ver más', lugar_path(lugar)


